@font-face {
  font-family: 'Nunito';
  src: url('Nunito.ttf');
}

@keyframes displayOn {

  from{
      transform: translateY(-50px);
      opacity: 0.7;
  }
  to{
      transform: translateY(0px);
      opacity: 1;
      
  }
}

$buttonColor: #fcd2d4;
$lightGrey: #8c93a3;
$redText: #ed5f5f;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}

h1{
  font-size: 40px;
}

.home{
  height: 100vh;
}

// Header
header{
  
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
  border-bottom: 1px solid $redText;
    img{
      height: 60%;
    }
}

.navBar{
  height: 60%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
    &__button{
      
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 18px;
      padding: 0 20px 0 20px;
    }
}

// SEARCH BAR + TITLE
.search{
  width: 100%;
  height: 20%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    
    &__bar{
      margin-top: 30px;
      width: 50%;
      height: 25%;
      border-radius: 10px;
      border: 1px solid $lightGrey;
      padding-left: 15px;
      font-size: 15px;
      display: flex;
      align-items: center;
        &--icon{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          width: 5%;
          font-size: 25px;
          cursor: pointer;
          padding-right: 20px;
          color: $lightGrey;
        }
    }
    input{
      height: 100%;
      width: 95%;
      border: none;
      outline: none;
    }
}

// COUNTRY CONTENEUR ET BOUTON PLUS
.country{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 150px 0 150px;
    
    &__conteneur{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    button{
      height: 8%;
      background-color: #fcd2d4;
      margin-top: 20px;
      color: $redText;
      border: none;
      border-radius: 10px;
      padding: 15px;
      font-size: 16px;
      cursor: pointer;
    }
}

// CARTE PAYS
.item{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  margin: 20px 0 0 40px;
  height: 500px;
  width: 400px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; 
  animation: displayOn 2s forwards;
    img{
      height: 40%;
      width: 100%;
      object-fit: cover;
      padding: 0 20px 0 20px;
    }
    
    &__lang{
      color: $lightGrey;
    }
    &__continent{
      color: $redText; 
     }
    
    button{
      height: 8%;
      width: 60%;
      background-color: $buttonColor;
      margin-top: 20px;
      color: $redText;
      border: none;
      border-radius: 10px;
      padding: 5px 10px 5px 10px;
      font-size: 16px;
    }
    
}

